.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 200px; 
  position: relative;
  bottom: 150px;
}

.arrow-container .bouncing-arrow {
  position: absolute;
  animation: bounce 2s infinite;
}

.bouncing-arrow:hover {
  cursor: pointer;
}
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-10px);
    }
    30% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-5px);
    }
    70% {
      transform: translateY(3px);
    }
    100% {
      transform: translateY(0);
    }
  }