.App {
  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.header-background {
  background-image: url('./Resources/img/Yosemite.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100vh;
}

.page-content
{
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100%;
  position:absolute;
  margin-top:100vh;
}

  .page-content > *{
    margin: 20px;
  }

.App-text-content{
  width:60%;
  font-size: larger;
  line-height:28px;
}

@media (max-width: 768px){
  .App-text-content{
    width:100%;
}}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
  transition: all 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-alert{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

