@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;

  width: 100%;
  z-index: -1;
}

.header-background {
  background-image: url('../resources/img/Yosemite.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:100vh;
}

.page{
  display: flex;
  justify-content: center;
}

.page-content
{
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  width: 800px;
  margin-top:25px;
  padding: 24px;
}

  .page-content > * {
    margin-left:15px;
    margin-right:15px;
  }

.page-margins{
  width:800px;
}
  @media screen and (max-width: 800px) {
    .page-margins {
      width: 95vw;
      padding: 0px 8px;
    }
  }

.page-img-container {
  display: grid;
  grid-template-columns: 1fr;  /* One column for the image */
  justify-items: center;
  padding: 24px 0px;
}

.page-img {
  width: 100%;  /* Fill the entire grid cell width */
  height: auto;  /* Let height adjust based on image aspect ratio */
  object-fit: cover;  /* Maintain aspect ratio, cover the area */
}

figcaption{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-style: italic;
  grid-row: 2; /* Place the image in the second row */
}

.App-text-content{
  width:60%;
  font-size: larger;
  line-height:28px;
}

@media (max-width: 768px){
  .App-text-content{
    width:100%;
}}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
  transition: all 0.3s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-alert{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.glossy-container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  padding: 4px 8px;
  margin: 16px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: fit-content;
  cursor: pointer;
}

.wave-background {
  background: linear-gradient(
    0deg,
    rgb(15, 131, 255) 0%,
    white 25%,
    white 75%,
    rgb(15, 131, 255) 100%
  );
  background-size: 100% 400%;
  animation: wave 8s ease infinite;
}

@keyframes wave {
  0%, 100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
}