.skillTag{
    width: fit-content;
    color: black;
    border-radius: 5px;
    height: 23px;
    padding: 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}