.earth-map
{
  display:flex;
  /*margin: 2rem auto 0;*/
  padding: 10px;
  border-radius:10px;
  height: 75vh;
  width: 1000px;
}

@media (max-width: 768px){
.earth-map {
    display:block;
    margin: 0 auto;
    height:100vh;
    width:85%;
}}