.social-medias{
    display: flex;
    justify-content: center;
}

    .social-medias > * {
        padding: 10px;
        transition: box-shadow 0.5s ease;
        transition: -webkit-box-shadow 0.5s ease;
        transition: -moz-box-shadow 0.5s ease;
        border-radius: 5px;
    }
        .social-medias > *:hover {
            cursor:pointer;
            box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.52);
            -webkit-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.52);
            -moz-box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.52);
        }